@import '../styles/variables';

.wrapper {
	padding: 0;
}

.heroImage {
	margin-bottom: 1em;
}

.info {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0 1.5em;
	width: 100%;
}

.title {
	flex: 1 0 100%;
	padding: 0;
	font-size: 160%;
	margin: 1rem 0;
}

.description {
	flex: 1 0 100%;
}

@media only screen and (min-width: $screen-small) {

	.heroImage {
		margin-bottom: 2em;
	}

	.wrapper {
		padding: 1.5em;
	}

	.info {
		margin-top: 1em;
		padding: 0;
	}

	.title {
		font-size: 180%;
	}

}

@media only screen and (min-width: $screen-medium) {

	.info {
		margin-top: 2em;
		margin-bottom: 1em;
	}

	.title {
		flex: 1 0 50%;
		padding-right: 1em;		
		font-size: 200%;
	}

	.description {
		flex: 1 0 50%;
		padding-left: 1em;
	}

}
