$bg-color: #f6f6f6;

$body-color: #272626;

$title-color: #0E0E0D;

$heading-color: #161815;

$menu-color: #252627;
$menu-hover: #90a92f; //#1753ad;

$link-color: #637030; //#1753ad;
$link-hover: #7f9139;

$thumb-summary: #A6A29E;
$thumb-hover: #80B3E6;

$footer-bg: #ceaf65;
$footer-color: #2c2c2c;

$rule-color: #e8e8e8;

$light-color: #e8e8e8;

$default-padding: 2em;

$screen-small: 768px;
$screen-medium: 1080px;
$screen-large: 1280px;

$max-width: 1600px;