$bg-color: #eaeaea; //f6f6f6

$body-color: #272626;

$title-color: #0E0E0D;

$heading-color: #161815;

$menu-color: #616366;
$menu-hover: #ad7b3a;

$link-color: #ad7b3a;
$link-hover: #94672d;

$thumb-summary: #A6A29E;
$thumb-hover: #80B3E6;

$footer-bg: #ceaf65;
$footer-color: white;

$rule-color: #e8e8e8;

$light-color: #e8e8e8;

$default-padding: 2em;

$screen-small: 768px;
$screen-medium: 1080px;
$screen-large: 1280px;

$max-width: 1800px;

$border-radius: 3px;