$bg-color: #fff;

$body-color: #272626;

$title-color: #0E0E0D;

$heading-color: #161815;

$menu-color: #10110F;
$menu-hover: #2A89E6;

$link-color: #1753ad;
$link-hover: #2A89E6;

$thumb-summary: #A6A29E;
$thumb-hover: #80B3E6;

$footer-color: #494A4A;

$rule-color: #e8e8e8;

$default-padding: 1.5em;

$screen-small: 460px;
$screen-medium: 720px;
$screen-large: 920px;

$max-width: 1180px;