@use 'vars';

* {
	box-sizing: border-box;
}

html {
	// background-size: 12px 12px;
	// background-image: repeating-linear-gradient(45deg, #e7e3df 0, #e7e3df 1px, $bg-color 0, $bg-color 50%);
}

strong {
	font-weight: 600;
}

body {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	font-weight: 400;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	background-color: vars.$bg-color;
}

a:link,
a:visited {
	text-decoration: underline;
	color: vars.$body-color;
	text-decoration-color: vars.$link-color;
	transition: color 0.5s;
}

a:hover {
	color: vars.$link-hover;
	text-decoration: none;
}

.bigLink:link,
.bigLink:visited {
	background-color: rgb(33, 73, 58);
	color: vars.$bg-color;
	border-radius: 5px;
	padding: 1em 1.5em;
	display: inline-block;
	text-decoration: none;
	font-size: 105%;
	font-weight: 600;
}

.bigLink:hover {
	background-color: rgb(50, 104, 84);
	color: vars.$bg-color;
}

h2 {
	font-weight: 600;
	font-size: 120%;
	margin: 1em 0;
}

p.space {
	margin-top: 1em;
}

footer {
	text-align: center;
	padding: vars.$default-padding;
	color: vars.$footer-color;
	background-color: vars.$body-color;

	p {
		font-size: 80%;
	}
}

.footer-logo {
	margin: 0 auto;
	max-width: 120px;
}

article {
	width: 100%;
	//max-width: $max-width;
	margin: 0 auto;
}

a.big-button {
	background-color: vars.$link-color;
	padding: 0.8em 1em;
	border-radius: 5px;
	color: vars.$bg-color;
	display: inline-block;
	width: 100%;
	text-align: center;

	&:visited {
		color: vars.$bg-color;
	}

	&:hover {
		background-color: vars.$link-hover;
		color: vars.$bg-color;
	}
}

@media only screen and (min-width: vars.$screen-small) {

	a.big-button {
		width: auto;
		text-align: left;
	}

}