@import 'variables';

* {
	box-sizing: border-box;
}

html {
	background-color: $bg-color;
}

strong {
	font-weight: 600;
}

body {
	// font-family: "europa", Arial, Helvetica, sans-serif;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin: 0;
	min-height: 100vh;
}

a:link, a:visited {
	text-decoration: underline;
	color: $body-color;
	text-decoration-color: $link-color;
}

a:hover {
	color: $link-hover;
	text-decoration: none;
}

h2 {
	
	font-weight: 600;
	font-size: 120%;
	margin: 1em 0;
}

p.space {
	margin-top: 1em;
}

footer {
	text-align: center;
	padding: $default-padding;
	color: $footer-color;

	p {
		font-size: 0.8em;
	}
}

.footer-logo {
	margin: 0 auto;
	max-width: 70px;
}

article {
	width: 100%;
	//max-width: $max-width;
	margin: 0 auto;
}

a.big-button {
	background-color: $link-color;
	padding: 0.8em 1em;
	border-radius: 5px;
	color: $bg-color;
	display:inline-block;
	width: 100%;
	text-align: center;

	&:visited {
		color: $bg-color;
	}

	&:hover {
		background-color: $link-hover;
		color: $bg-color;
	}
}

@media only screen and (min-width: $screen-small) {

	a.big-button {
		width: auto;
		text-align: left;
	}

}
