@import '../styles/variables';

.info {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	padding: 1.5em;
}

.description {
	flex: 1 1 100%;
}

.portrait {
	margin-top: 2em;
	flex: 0 1 100%;

	img {
		margin: 0 auto;
		max-width: 300px;
		width: 100%;
		border-radius: 50%;
		display:block;
	}
}

@media only screen and (min-width: $screen-small) {

	.description {
		flex: 0 1 70%;
		padding-right: 5em;
	}

	.portrait {
		margin-top: 0;
		flex: 0 1 30%;
	}

}