@use '../styles/vars';

.wrapper {
	padding: 0 vars.$default-padding;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
	max-width: vars.$max-width;
	margin: 0 auto;
	gap: 2rem;
}

.pageTitle {
	text-transform: uppercase;
	font-size: 100%;
	background-color: white;
	padding: 0 vars.$default-padding;
	padding: 1em 6em 1em 1em;
	border-radius: vars.$border-radius;
	display: inline-block;
	margin: 0 2rem 2rem 2rem;

}

.album {
	margin: 0 auto;
	background-color: white;
	width: 100%;
	border-radius: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.information {
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.description {

	flex: 1 0 calc(100% - 100px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	padding: 1em;
}

.artist {
	margin: 0 0 0.5em 0;
	padding: 0;
	font-weight: 300;
	font-size: 90%;


}

.title {
	margin: 0 0 0 0;
	font-style: oblique;
}

.comments {
	margin: 0;
	font-size: 90%;
}

.date {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	font-size: 100%;
	color: #bcbcbc;
	font-weight: bold;
	margin-bottom: 0;
	border-left: 1px solid #cccccc;
	flex: 0 0 100px;
	min-height: 100px;
}

@media only screen and (min-width: vars.$screen-small) {}

@media only screen and (min-width: vars.$screen-medium) {

	.album {
		text-align: left;
		font-size: 90%;
	}

	.information {
		width: 100%;
	}

	.artist {
		margin-top: 0;
	}
}

@media only screen and (min-width: vars.$screen-large) {

	.album {
		font-size: 100%;
	}

	.comments {
		max-width: 80%;
	}

}