@use '../styles/vars';

.header {
	max-width: vars.$max-width;
	margin: 0 auto;
}

.wrapper {
	display: flex;
	margin: 0 auto;
	padding: vars.$default-padding;
	max-width: vars.$max-width;
}

.logo {
	flex: 0 1 auto;
	align-items: center;
	justify-content: flex-start;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-content: flex-start;
	text-decoration: none !important;

	&:hover {
		text-decoration: underline !important;
	}

	h1 {
		font-family: 'Poppins', Arial, Helvetica, sans-serif;
		font-size: 150%;
		line-height: 1em;
		text-transform: uppercase;
		color: black;
		text-align: left;
		margin: 0;
		padding-left: 12px;
		font-weight: 800;
	}

	img {
		max-width: 100px;
	}
}

.nav {
	flex: 1 1 auto;
	text-align: right;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;

	justify-content: flex-end;
	align-items: flex-end;

	li {
		display: inline-block;
		position: relative;
		margin-left: 0;

		a:link,
		a:visited {
			color: #000;
			text-decoration: none;
			display: block;
			font-size: 120%;
			font-weight: 400;
		}

		a:hover {
			color: vars.$menu-hover;
			text-decoration: underline;
		}
	}

}


@media only screen and (min-width: vars.$screen-small) {
	.wrapper {
		// padding: vars.$default-padding*2;
	}
}


@media only screen and (min-width: vars.$screen-medium) {

	.nav {
		// margin-top: 1.55em;
		flex-direction: row;
		align-items: center;
		gap: 2em;

		// li {
		// 	padding-left: 1.5em;
		// }

		// li:not(:last-child) {
		// 	padding-right: 1.5em;

		// 	&:after {
		// 		content: ">";
		// 		width: 20px;
		// 		height: 20px;
		// 		color: #000;
		// 		display: block;
		// 		position: absolute;
		// 		top: 2px;
		// 		right: 0;
		// 	}
		// }
	}
}